<script>
document.addEventListener("DOMContentLoaded", function(){
  let activePiece;
  let destinationSquare;
  let activePlayer = "white";
  let inactivePlayer = "black";

  let fetchBoard = fetch("<%= game_pieces_path(@game) %>");

  function renderInitialBoard (json) {
    console.log(json);
    json.forEach( piece => {
      if (piece.x_position && piece.y_position) {
        let [x, y] = [piece.x_position, piece.y_position];
        let boardSquare = document.querySelector(`[data-x='${x}'][data-y='${y}']`);
        boardSquare.innerHTML = piece.image;
        boardSquare.setAttribute('data-piece-id', piece.id);
        boardSquare.setAttribute('data-color', piece.color);
        boardSquare.addEventListener("click", updateActivePiece);
      }
    });
  };

  function updateActivePiece() {
    if (!activePiece && event.target.dataset.color == activePlayer) {
      activePiece = event.target;
      activePiece.classList.add("initial");
    }
  }

  fetchBoard
    .then(response => response.json())
    .then (json => renderInitialBoard(json))
    .catch(error => console.log(error));





  function submitMove() {
    let [newX, newY] = [destinationSquare.dataset.x, destinationSquare.dataset.y]
    let piecePayload = {piece: {
      x_position: newX,
      y_position: newY,
      }
    }
    submitPieceUpdate(activePiece.dataset.pieceId, piecePayload)
      .then(response => checkMove(response))
      .then(() => clearSelections())
      .catch(error => console.log(error));
  }

  function submitPieceUpdate(pieceID, data) {
    let gameID = "<%= @game.id %>";
    return fetch("/games/" + gameID + "/pieces/" + pieceID, {
      method: 'PATCH',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data),
    });
  }

  function checkMove(response) {
    if (response.status === 200) {
      updatePieceLocation();
    } else {
      alert("That is not a valid move");
    }    
  }

  function clearSelections() {
    activePiece.classList.remove("initial");
    document.querySelector(".destination").classList.remove("destination");
    activePiece = null;
    destinationSquare = null;
    document.querySelector(".clear-submit").classList.add("hidden");
  }

  function updatePieceLocation() {
    let initialSquare = activePiece;
    destinationSquare.innerHTML = initialSquare.innerHTML;
    destinationSquare.setAttribute("data-color", activePlayer);
    destinationSquare.setAttribute("data-piece-id", initialSquare.dataset.pieceId); 
    destinationSquare.addEventListener("click", updateActivePiece);

    initialSquare.innerHTML = "";
    initialSquare.removeAttribute("data-color");
    initialSquare.removeAttribute("data-piece-id");
    initialSquare.removeEventListener("click", updateActivePiece);

    [activePlayer, inactivePlayer] = [inactivePlayer, activePlayer];
  }


  



  // Maybe attach different event handlers depending on the piece type (instead of for each empty div)
  document.querySelectorAll('.box').forEach( box => {
    box.addEventListener("click", function(event) {
      if (activePiece) {
        destinationSquare = event.target;
        document.querySelector(".clear-submit").classList.remove("hidden");
        if (document.querySelector(".destination")) {
          document.querySelector(".destination").classList.remove("destination");
        }
        destinationSquare.classList.add("destination");
      }
    });
  });


  document.querySelector(".wipe").addEventListener("click", clearSelections)
  document.querySelector(".submit").addEventListener("click", submitMove)


});
</script>
<br />

<div class="text-center">
  <h1><%= @game.name %></h1>
</div>


<div class="grid-x grid-padding-x align-spaced">
  <div class="cell large-3 text-center" id="player1">
    <h3>Player 1 Ready!</h3>
    <h4><%= @player_white.username %></h4>
  </div>

  <div class="cell large-auto">
    <div class="row align-center">
      <div class="wrapper">
        <div class="box-inner"></div>
        <div class="box-inner">A</div>
        <div class="box-inner">B</div>
        <div class="box-inner">C</div>
        <div class="box-inner">D</div>
        <div class="box-inner">E</div>
        <div class="box-inner">F</div>
        <div class="box-inner">G</div>
        <div class="box-inner">H</div>
        <div class="box-inner"></div>
      
        <div class="box-inner">8</div>
        <div class="box white"       data-x = "1" data-y = "8"></div>
        <div class="box"             data-x = "2" data-y = "8"></div>
        <div class="box white"       data-x = "3" data-y = "8"></div>
        <div class="box"             data-x = "4" data-y = "8"></div>
        <div class="box white"       data-x = "5" data-y = "8"></div>
        <div class="box"             data-x = "6" data-y = "8"></div>
        <div class="box white"       data-x = "7" data-y = "8"></div>
        <div class="box"             data-x = "8" data-y = "8"></div>
        <div class="box-inner">8</div>


        <div class="box-inner">7</div>
        <div class="box"             data-x="1" data-y="7"></div>
        <div class="box white"       data-x="2" data-y="7"></div>
        <div class="box"             data-x="3" data-y="7"></div>
        <div class="box white"       data-x="4" data-y="7"></div>
        <div class="box"             data-x="5" data-y="7"></div>
        <div class="box white"       data-x="6" data-y="7"></div>
        <div class="box"             data-x="7" data-y="7"></div>
        <div class="box white"       data-x="8" data-y="7"></div>
        <div class="box-inner">7</div>

        <div class="box-inner">6</div>
        <div class="box white"       data-x = "1" data-y = "6"></div>
        <div class="box"             data-x = "2" data-y = "6"></div>
        <div class="box white"       data-x = "3" data-y = "6"></div>
        <div class="box"             data-x = "4" data-y = "6"></div>
        <div class="box white"       data-x = "5" data-y = "6"></div>
        <div class="box"             data-x = "6" data-y = "6"></div>
        <div class="box white"       data-x = "7" data-y = "6"></div>
        <div class="box"             data-x = "8" data-y = "6"></div>
        <div class="box-inner">6</div>

        <div class="box-inner">5</div>
        <div class="box"             data-x="1" data-y="5"></div>
        <div class="box white"       data-x="2" data-y="5"></div>
        <div class="box"             data-x="3" data-y="5"></div>
        <div class="box white"       data-x="4" data-y="5"></div>
        <div class="box"             data-x="5" data-y="5"></div>
        <div class="box white"       data-x="6" data-y="5"></div>
        <div class="box"             data-x="7" data-y="5"></div>
        <div class="box white"       data-x="8" data-y="5"></div>
        <div class="box-inner">5</div>

        <div class="box-inner">4</div>
        <div class="box white"       data-x = "1" data-y = "4"></div>
        <div class="box"             data-x = "2" data-y = "4"></div>
        <div class="box white"       data-x = "3" data-y = "4"></div>
        <div class="box"             data-x = "4" data-y = "4"></div>
        <div class="box white"       data-x = "5" data-y = "4"></div>
        <div class="box"             data-x = "6" data-y = "4"></div>
        <div class="box white"       data-x = "7" data-y = "4"></div>
        <div class="box"             data-x = "8" data-y = "4"></div>
        <div class="box-inner">4</div>

        <div class="box-inner">3</div>
        <div class="box"             data-x="1" data-y="3"></div>
        <div class="box white"       data-x="2" data-y="3"></div>
        <div class="box"             data-x="3" data-y="3"></div>
        <div class="box white"       data-x="4" data-y="3"></div>
        <div class="box"             data-x="5" data-y="3"></div>
        <div class="box white"       data-x="6" data-y="3"></div>
        <div class="box"             data-x="7" data-y="3"></div>
        <div class="box white"       data-x="8" data-y="3"></div>
        <div class="box-inner">3</div>

        <div class="box-inner">2</div>
        <div class="box white"       data-x = "1" data-y = "2"></div>
        <div class="box"             data-x = "2" data-y = "2"></div>
        <div class="box white"       data-x = "3" data-y = "2"></div>
        <div class="box"             data-x = "4" data-y = "2"></div>
        <div class="box white"       data-x = "5" data-y = "2"></div>
        <div class="box"             data-x = "6" data-y = "2"></div>
        <div class="box white"       data-x = "7" data-y = "2"></div>
        <div class="box"             data-x = "8" data-y = "2"></div>
        <div class="box-inner">2</div>

        <div class="box-inner">1</div>
        <div class="box"             data-x="1" data-y="1"></div>
        <div class="box white"       data-x="2" data-y="1"></div>
        <div class="box"             data-x="3" data-y="1"></div>
        <div class="box white"       data-x="4" data-y="1"></div>
        <div class="box"             data-x="5" data-y="1"></div>
        <div class="box white"       data-x="6" data-y="1"></div>
        <div class="box"             data-x="7" data-y="1"></div>
        <div class="box white"       data-x="8" data-y="1"></div>
        <div class="box-inner">1</div>
        
        <div class="box-inner"></div>
        <div class="box-inner">A</div>
        <div class="box-inner">B</div>
        <div class="box-inner">C</div>
        <div class="box-inner">D</div>
        <div class="box-inner">E</div>
        <div class="box-inner">F</div>
        <div class="box-inner">G</div>
        <div class="box-inner">H</div>
        <div class="box-inner"></div>
      </div>
    </div>
  </div>

  <div class="cell large-3 text-center" id="player2">
    <% if @player_black %>
        <h3>Player 2 Ready!</h3>
        <h4><%= @player_black.username %></h4>
    <% else %>
        <h3> Searching for Opponent...</h3>
    <% end %>
  </div>
</div>

<div class="grid-x clear-submit hidden align-center">
  <div class="cell small-3">
    <button class="button large wipe">Clear</button>
  </div><br />
  <div class="cell small-3">
    <button class="button large submit">Submit</button>
  </div>
</div>
